{% extends "main/principal.html" %}
{% block content %}

<h3 id="tittle_pagina">Lista de Estudiantes Registrados</h3>

<table class="striped">
    <thead class="card teal purple darken-1">
        <tr class="card-content white-text">    
            <th>ID</th>  
            <th>Curso</th>    
            <th>Estudiante</th>
            <th>Fecha de Inscripcion</th>    
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        {% for mat in materias %}

        <tr>  
            <td>{{mat.Id}}</td>    
            <td>{{mat.Curso}}</td>
            <td>{{mat.Estudiante}}</td> 
            <td>{{mat.Fecha}}</td>    
            <td><a href="{% url 'modificar' est.id %}">Modificar</a>   <a href="{% url 'eliminar' est.id %}">Eliminar</a></td>
    
        </tr>
        {% endfor %}

    </tbody>

</table>
{% endblock %}