{% extends "main/principal.html" %}
{% block content %}

<h3 id="tittle_pagina">Lista de Estudiantes Registrados</h3>

<table class="striped" >
    <thead class="card teal ">
        <tr class="card-content white-text">    
            <th>ID</th>  
            <th>Curso</th>    
            <th>Estudiante</th>
            <th>Fecha de Inscripcion</th>    
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        {% for mat in materias %}

        <tr>  
            <td>{{mat.id}}</td>    
            <td>{{mat.curso}}</td>
            <td>{{mat.estudiante}}</td> 
            <td>{{mat.fecha}}</td>    
            <td><a href="{% url 'main:modificar' mat.id %}" class="btn btn-infor ">Modificar</a>   
                <a href="{% url 'main:eliminar' mat.id %}"  class="btn btn-danger ">Eliminar</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>

</table>
{% endblock %}