{% extends "main/principal.html" %}
{% block content %}

<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offse-md-3">
        <div class="card">
            <div class="card-body">
                        <h2>Registro de Materia </h2>
                        <hr>
                <form action="" method="POST" enctype="multipart/form-data">

                    {%csrf_token%}
                    {{form | crispy}}
                    <div class="d-flex justify-content-end">
                        <input type ="reset" value="Cancelar" class="btn btn_secundary">
                        &nbsp;
                        <input type ="submit" value="Guardar" class="btn btn_primary">
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
