{% extends "main/principal.html" %}
{% block content %}

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Import: {% endif %}
            {{ message }}

        </li>
        {% endfor%}
    </ul>
    {% endif %}
</div>

<form method="POST">
    {% csrf_token %}
    {{user_form.as_p}}
    {{registro_form.as_p}}<br>
    
    <button type="submit">Crear y Editar</button>
    
</form>
{% endblock %}
<!-- {% extends "main/principal.html" %} {% block content %}   
{% load bootstrap4 %}
<form action= "" method ="POST">
     {% csrf_token %} 
     {%bootstrap_form form%}
     <button class="btn" type="submit">Registrar</button>
</form>

{% endblock %} -->