{% extends "main/principal.html"%}
{% block content %}

    <div class="row">

    {% for cur in cursos %}

    <div class="col s12 m5">
    
        <div class="card blue-grey darken-1">
    
            <div class="card-content white-text">
         
            <div class="card-image">
            {%if cur.foto%}
            <img class="img-responsive mw100 ib mr10" src="{{cur.foto.url}}" alt="{{cur.foto}}">
            {% else %} {% endif %}
            {% comment %} <img src="{{cur.foto}}"> {% endcomment %}
              <span class="card-title">{{cur.curso_titulo}}</span>
            </div>
          <p>{{cur.curso_publicado}}</p>
            <p>{{cur.curso_contenido|safe }}</p>
    
        </div>
        <div class="card-action">
          <a href="/registroM">Registrarse </a>
          <a href="/materias">Materias</a>
    
        </div>
      </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
