{% extends "main/principal.html"%}
{% block content %}

    <div class="row">

    {% for cur in cursos %}

    <div class="col s12 m5">
    
        <div class="card blue-grey darken-1">
    
            <div class="card-content white-text">
          <!--<div class="card">
            <div class="card-image">
              <img src="{{cur.foto}}">-->
          <span class="card-title">{{cur.curso_titulo}}</span>

          <p>{{cur.curso_publicado}}</p>
            <p>{{cur.curso_contenido|safe }}</p>
    
        </div>
        <div class="card-action">
          <a href="/registroM">Registrarse </a>
          <a href="/materias">Materias</a>
    
        </div>
      </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
