{% extends "main/principal.html" %} 
{% block content %}   


     <table class="centered">
          <thead class="card purple darken-3">
               <tr>
               <th>Materia</th>
               <th>Cedula</th>
               <th>Fecha de matricula</th>
               </tr>
          </thead>

          <tbody>
               {% for mat in materias %}
               <tr>
               <td>{{mat.materia}}</td>
               <td>{{mat.cedula}}</td>
               <td>{{mat.fecha}}</td>
               </tr>
               {% endfor %} 
          </tbody>
          </table>
{% endblock  %}

