{% extends "main/principal.html" %} 
{% block content %}   


     <table class="centered">
          <thead>
               <tr>
               <th>Materia</th>
               <th>Cedula</th>
               <th>Fecha de matricula</th>
               </tr>
          </thead>

          <tbody>
               {% for cur in cursos %}
               <tr>
               <td>{{materia}}</td>
               <td>{{cedula}}</td>
               <td>{{Fecha}}</td>
               </tr>
               {% endfor %} 
          </tbody>
          </table>
{% endblock  %}

