{% if messages %}
{% for message in messages %}

      
      <!-- exito -->
          {% if message.tags == 'success' %}
          <img src="frances.jpg">
            <script>  
              M.toast({html: '{{message}}',
                classes: 'green rounded',
                displayLength=2000,
              });   </script>
          {% endif %}


          <!-- informacion -->
          {% if message.tags == 'info' %}

              <script>  
                M.toast({html: '{{message}}',
                  classes: 'blue rounded',
                  displayLength=2000,
                });   </script>
        {% endif%}
          <!-- peligro -->
          {% if message.tags == 'warning' %}

          <script>  
            M.toast({html: '{{message}}',
              classes: 'orange rounded',
              displayLength=2000,
            });   </script>
        {% endif%}
            <!-- error -->
          {% if message.tags == 'error' %}

          <script>  
            M.toast({html: '{{message}}',
              classes: 'red rounded',
              displayLength=2000,
            });   </script>
        {% endif%}
 

 {% endfor %}
 {% endif %}